{% extends "base.twig" %}
{% block pagetitle %}Confirmation de
	{{annonce.etat}}
{% endblock %}


{% block navbar %}{% endblock %}
{% block body %}
	<form action="" method="post">
		<h1>
			Veuillez confirmer la
			{{annonce.etat}}
			de l'annonce
		</h1>
		<div>{{annonce.titre}}</div>
		<div>{{annonce.categorie}}</div>
		<div>{{annonce.mail}}</div>
		<div>{{annonce.prix}}</div>
		<div>{{annonce.decription}}</div>
		<div><img src="{{annonce.image1}}" width="200px" height="150px" alt="" srcset=""></div>
		<div><img src="{{annonce.image2}}" width="200px" height="150px" alt="" srcset=""></div>
		<div><img src="{{annonce.image3}}" width="200px" height="150px" alt="" srcset=""></div>
		<div><img src="{{annonce.image4}}" width="200px" height="150px" alt="" srcset=""></div>
		<div><img src="{{annonce.image5}}" width="200px" height="150px" alt="" srcset=""></div>
		<div><img src="{{annonce.image6}}" width="200px" height="150px" alt="" srcset=""></div>
		<button type="submit">Valider</button>
		<input type="hidden" name="id" value="{{annonce.id}}">
		<input type="hidden" name="mail" value="{{annonce.mail}}">
		<input type="hidden" name=" etat" value="{{annonce.etat}}">
	</form>
{% endblock %}

