{% extends "base.twig" %}
{% block pagetitle %}Modification d'une Annonce

{% endblock %}
{% set compteur=1 %}


{% block header %}
<navbar>

	<a	href="{{ urlbase }}/dev/">LOGO</a>


	<span>SLOGAN</span>
	<a href="{{ urlbase }}/dev/">RETOUR</a>


	</navbar>
{% endblock %}

{% block recherche %}{% endblock %}



{% block body %}
<main>
	<form action="{{fichieradefinir.php}}" method="post">
	<div class="card">
		<label for="titre">Titre:
		</label>

	<input type="text" name="titre" id="titre" placeholder="Titre de l'annonce" required value="{{annonce.titre}}">

	<label for="categorie">Catégorie:
	</label>
	<input type="text" name="categorie" id="catégorie" placeholder="catégorie" required value="{{ annonce.categorie }}">
	<label for="prix">Prix:
	</label>
	<input type="float" name="prix" id="prix" placeholder="prix" required value="{{ annonce.prix}}"></div><div class="card">
	<label for="description">Description:
	</label>
	<textarea name="description" id="description" value="{{annonce.description}}">{{ annonce.description}}</textarea>
	<label for="mail">Email:
	</label>
	<input type="mail" name="mail" id="mail" placeholder="email pour vous joindre" required value="{{annonce.mail}}">
	</div>
	<div class="container">
		<!--card 1 -->
		<div class="card">
		<label for="image1">
			<input class="inputimage" type="file" onchange="handleFiles1(files)" name="image1" id="image1">
			<span id="preview1"><img class="vignette" src="{{urlbase}}/public/img/{{ annonce.image1 ?  annonce.image1: 'vide.jpg'}}" alt="image1"></span>
		</label>
		</div>
		<!--card 2 -->
		<div class="card">
		<label for="image2">
			<input class="inputimage" type="file" onchange="handleFiles2(files)" name="image1" id="image2">
			<span id="preview2"><img class="vignette" src="{{urlbase}}/public/img/{{ annonce.image2  ? annonce.image2: 'vide.jpg'}}" alt="image2"></span>
		</label>
		</div>
		<!--card 3 -->
		<div class="card">
		<label for="image3">
			<input class="inputimage" type="file" onchange="handleFiles3(files)" name="image3" id="image3">
			<span id="preview3"><img class="vignette" src="{{urlbase}}/public/img/{{ annonce.image3 ? annonce.image3 : 'vide.jpg'}}" alt="image3"></span>
		</label>
		</div>
		<!--card 4 -->
		<div class="card">
		<label for="image4">
			<input class="inputimage" type="file" onchange="handleFiles4(files)" name="image4" id="image4">
			<span id="preview4"><img class="vignette" src="{{urlbase}}/public/img/{{ annonce.image4 ? annonce.image4: 'vide.jpg'}}" alt="image4"></span>
		</label>
		</div>
		<!--card 5 -->
		<div class="card">
		<label for="image5">
			<input class="inputimage" type="file" onchange="handleFiles5(files)" name="image5" id="image5">
			<span id="preview5"><img class="vignette" src="{{urlbase}}/public/img/{{ annonce.image5 ? annonce.image5: 'vide.jpg'}}" alt="image{{i}}"></span>
		</label>
		</div>
	<div class="card">
		<button type="submit">Modifier</button>
		<button type="reset">Annuler</button>
	</div>
	</form>
</main>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		function handleFiles1(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview1.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview1.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles2(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview2.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview2.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles3(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview3.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview3.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles4(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview4.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview4.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);

}

}
}
function handleFiles5(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview5.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview5.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
	</script>
{% endblock %}
{% block footer %}
	<footer></footer>
{% endblock %}






